/*reset css*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}	
.container {
	max-width: 1920px;
	width: 100%;
	margin: 10px auto;
}
.article {
	display: inline-block;
	margin-left: 240px;
	width: 463px;
	height: 240px;
}
div h3 {
	color: #171717;
	font-size: 32px;
	width: 197px;
	height:38px;
	margin-bottom: 60px;	
}
div p {
	color: #171717;
	font-size: 16px;
	width: 463px;
	height:385px;
	padding-top: 60px;
}
.info {
	color: #171717;
	font-size: 16px;
	width: 463px;
	height: 99px;
	margin-bottom: 22px;
}
span {
	color: #0A22F4;
}
.image {
	display: inline-block;
	margin-top: 400px;
	width: 707px;
	padding-right: 363px;
	padding-bottom: 394px;
}
p {
	font-family: 'HelveticaNeue LT 55 Roman';
}
.info {
	font-family: 'HelveticaNeue LT 55 Roman';
}
h3 {
	font-family: 'HelveticaNeue';
}
.photo	{
	display: inline-block;
	width: 707px;
	height: 707px;
	padding-left: 250px;
	margin-top: 182px;
	border-radius: 15px;
}
.text {
	display: inline-block;
	width: 463px;
	height: 385px;
	color: #171717;
}
div h3 {
	margin-top: 394px;
	margin-bottom: 60px;
	font-size: 32px;
	color: #171717;
	font-family: 'HelveticaNeue';
}	
.text p {
	color: #171717;
	font-size: 16px;
 	font-family: 'HelveticaNeue LT 55 Roman';
 }